<header>
  <%= link_away logo, root_path, :title => "Home" %>
  <nav class="round">
    <ul>
      <li><%= link_away "Home", root_path %></li>
      <li><%= link_away "Help", help_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Sign Out", signout_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
